@use 'helpers/colors' as *;
@use 'helpers/mixins' as *;
@use 'helpers/animations' as *;
// button
@import 'components/button';

body {
    color: $black;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;;
}

#hero {
    @include flex-center;
    width: 100%;
    padding: 60px 10px 20px 10px;
    min-height: 100vh;
    overflow: hidden;
    #background-gradient {
        background-image: $goldGradient;
        position: absolute;
        width: 30vw;
        height: 100vh;
        top: 0px;
        left: 0px;
        z-index: -5;
    }
    #jumbotron-container {
        @include center-vertical;
        justify-content: space-around;
        margin: auto 0;
        max-width: 100%;
        .myjumbotron {
        @include flex-center;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1200px;
        #objects {
            @include center-horizontal;
            z-index: 3;
            margin: 0;
            width: 400px;
            height: 100%;
            overflow: visible;
            #screens {
                width: 600px;
                max-height: 300px;
            }
        }
        .jumbotron-content {
            width: 100%;
            max-width: 70ch;
            margin: 0 2vw;
            #job-description {
                margin-bottom: 30px;
                font-weight: 500;
            }
            .lead {
                font-family: 'Oswald', sans-serif;
                font-size: 3.5rem;
                font-weight: 500;
                color: $black;
                margin-bottom: 8px;
                line-height: 1.1em;
             }
             .headline {
                 @include fade-in-animation(3s);
                 margin-top: 0;
                 margin-bottom: 80px;
                 font-size: 1.2rem;
                 line-height: 1.8em;
             }
             strong {
                 font-weight: 700;
             }
        }
    }
    }
    
}

/* nav-bar */
.navbar-brand {
    font-family: 'Poppins', sans-serif;;
    font-weight: 600;
    font-size: 1.5em;
    color: $black;
    em {
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 200;
        font-style: normal;
    }
    &:hover, :focus {
        color: $darkGold;
    }
}
.nav-item a {
    margin: 0 2vw;
    text-align: center;
    color: $black;
}
li.nav-item.active {
    border-bottom: 1px solid $black;
    max-width: 200px;
}
li.nav-item {
    &:hover, :focus {
        a {
            color: $darkGold;
        }
        border-bottom: 2px solid $darkGold;
    }
}
nav li a {
    color: $black; 
}
#nav-banner {
    background-color: transparent;
    color: $black;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 1vw 4vw;
    z-index: 5;
    top: 0px;
    transition: top 1s;
    &:hover {
        background-color: #ffffffd2;
    }
}
#navbarNav {
    display: flex;
    justify-content: flex-end;
}
.show-links {
    display: flex !important;
    justify-content: center;
}
.nav-content {
    top: 0px;
    padding-top: 60px;
    display: none;
    position: fixed;
    z-index: 4;
    background-color: #ffffffd2;
    width: 100%;
}
#nav-button {
    display:none;
    border: none;
    outline: none;
    background-color: transparent;
}
#nav-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* contact details */
#details-section {
    background-color: $lightGold;
    @include center-horizontal;
    position: relative;
    margin-top: 80px;
    margin-bottom: 40px;
   
}
#contact-container {
    max-width: 1000px;
    width: 100%;
    position: relative;
    top: -100px;
    display: flex;
    justify-content: space-around;
    margin: 60px 0;
    text-align: center;
    flex-wrap: wrap;
    .myhr {
        margin: 1.5em 0 0.8em 0;
        border-bottom: 1px solid $darkGold;
    }
    .link-column {
        border: 2px solid $darkGold;
        background-color: #ffffff;
        border-radius: 6px;
        flex-grow: 1;
        min-width: 200px;
        max-width: 300px;
        padding: 16px;
        margin-bottom: 36px;
        svg {
            margin: 8px;
        }
        p strong {
            font-size: larger;
            color: $darkGold;
            text-align: center;
            margin: 0;
        }
        .list-unstyled {
            line-height: 2em;
        }
        a {
            color: $black;
            text-decoration: none;
            .contact-link {
                @include center-vertical;
                justify-content: center;
                margin: 16px 0;
                i {
                    color: $darkGold;
                }
                &:hover {
                    color: $darkGold;
                    text-decoration: none;
                }
                .contact-info {
                    margin: 0;
                    margin-left: 8px;
                }
            }
        }
        
    }
}

.set-width {
    max-width: 1400px;
    padding: 0 4vw;
}

// footer
#footer i.fab {
    color: $black;
    padding: 10px 0;
    &:hover {
        color: $darkGold;
    }
}

// animations
.fade-in {
    @include fade-in-animation(8s);
}

@media screen and (max-width: 1070px){
    
    #job-description {
        text-align: center;
    }
    #background-gradient {
        width: 50vw !important;
    }
}
@media screen and (max-width: 1000px){
    #nav-banner {
       background-color: #ffffffd2;
   }
}
@media screen and (max-width: 800px){
   .icon-label {
       display: none;
   }
   #nav-button {
       display: block;
   }
   #nav-content {
       display: none;
   }
}
@media screen and (max-width: 510px){
    #getInTouch-container {
        text-align: center;
    }
    .lead {
        max-width: 8ch;
        margin-bottom: 8px;
    }
}