/* color variables */
:root {
    --color-b: #333333;
    --color-w: #ffffff;
    --color-blue: #e1f4f3;
    --color-grey: #706c61;
}
/* nav-bar */
.nav-item {
    margin: 0 3vw;
}
.nav-item.active li a {
    text-decoration: underline !important;
    font-weight: bold;
}
.bg-dark {
    background-color: var(--color-b) !important;
    color: var(--color-w) !important;
}
.navbar-dark {
    color: var(--color-w) !important;
}
/* icons */
i.fab {
    color: var(--color-grey);
}
.icon-label {
    color: var(--color-grey);
    font-size: 0.8em;
}