/* color variables */
:root {
    --color-b: #333333;
    --color-w: #ffffff;
    --color-blue: #14bcff;
    --color-grey: #262626;
    --color-light: #969696;
    --color-vlight: #bebebe;
    font-family: 'Open Sans', sans-serif;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;;
}
/* nav-bar */
#nav-banner:hover {
    background-color: #ffffffd2;
}
.navbar-brand {
    font-family: 'Poppins', sans-serif;;
    font-weight: 600;
    font-size: 1.5em;
    color: #262626;
}
.navbar-brand em {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 200;
    font-style: normal;
}
.navbar-brand:hover, .navbar-brand:focus {
    color: #D1913C;
}
.nav-item a {
    margin: 0 2vw;
    text-align: center;
    color: #262626;
}
li.nav-item.active {
    border-bottom: 1px solid #262626;
}
li.nav-item a:hover {
    color: #D1913C;
}
nav li a {
    color: #262626; 
}
#nav-banner {
    background-color: transparent;
    color: #262626;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 1vw 4vw;
    z-index: 5;
    top: 0px;
    transition: top 1s;
}
#navbarNav {
    display: flex;
    justify-content: flex-end;
}
/* jumbotron */
.jumbotron {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(#FFD194, #D1913C);
    background-attachment: fixed;
    height: 100vh;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 0;
}

#objects {
    position: relative;
    z-index:2;
    margin-top: 5vh;
    right: 30px;
    width: 400px;
    overflow: hidden;
    transform: scale(0.8);
    }
iframe {
    width: 1200px;
    position: relative;
    left: -60%;
}
.jumbotron-content {
    /* margin-top: 16vh; */
    margin-left: 2vw;
    max-width: 800px;
    z-index:5;
}

 .lead {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 0;
 }
 .headline {
     margin-top: 0;
     font-size: 1.5rem;
 }
 strong {
     font-weight: 700;
 }
 #getInTouch {
     font-size: 1em;
     font-weight: bold;
     border: 2px solid #ffffff;
     background-color: transparent;
     color: #ffffff;
 }
 #getInTouch:hover {
    background-color: var(--color-blue);
    color: #ffffff;
 }
 .fade-in {
    animation: fadeIn ease 8s;
    -webkit-animation: fadeIn ease 8s;
    -moz-animation: fadeIn ease 8s;
    -o-animation: fadeIn ease 8s;
    -ms-animation: fadeIn ease 8s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    /* headline fade in */
    .headline {
        animation: headline-fadeIn ease 3s;
        -webkit-animation: headline-fadeIn ease 3s;
        -moz-animation: headline-fadeIn ease 3s;
        -o-animation: headline-fadeIn ease 3s;
        -ms-animation: headline-fadeIn ease 3s;
        }
        @keyframes headline-fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
        @-moz-keyframes headline-fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
        @-webkit-keyframes headline-fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
        @-o-keyframes headline-fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
        @-ms-keyframes headline-fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
.my-4 {
    border-top: 2px solid #D1913C;
}
/* icons */
.icon-list .row{
    margin-top: 30px;
    display: none;
}
i.fab {
    color: var(--color-light);
}
.icon-label {
    color: var(--color-light);
    font-size: 0.8em;
}
/* projects */
.project-image img {
    transition: all 0.3s;
    border-radius: 5px;
    overflow: hidden;
}
.project-image img:hover {
    transform: scale(1.6);
}
.project-image {
    overflow-y: scroll;
    padding: 0;
    border-radius: 5px;
    height: 100vh; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-column {
    padding: 0;
}
.img-container {
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.card-body {
    margin-top: 50px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.site-link {
    margin: 8px 0px;
    background-color: transparent;
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
}
.card-container {
    margin: 8px 0;
}
.card-title {
    font-weight: 600;
}
.scroll-snap-container {
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;  
}
section {
    height: 100vh;
    scroll-snap-align: center;
    position: relative;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-snap-container::-webkit-scrollbar, section::-webkit-scrollbar{
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scroll-snap-container, section {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}



/* footer */
#footer {
    padding: 20px 0;
    margin-top: 30px;
    bottom: 0px;
    transition: bottom 0.3s;
}
#footer i.fab {
    color: #262626;
}
#footer i.fab:hover {
    color: #14bcff;
}
/* contact page */
.myhr {
    padding: 0;
    border: 0.8px solid var(--color-vlight);
}
.contact-icons .myhr {
    max-width: 70px;
}
.contact-info {
    font-size: 0.9em;
}
.list-unstyled li {
    font-size: 0.9em;
}
.contact-icons i {
    color: var(--color-blue);
}
.contact-icons .text-center:hover {
    color: var(--color-blue);
}
.contact-icons a {
    color: #000000;
    text-decoration: none;
}
.contact-icons a:hover {
    color: var(--color-blue);
}
.contact-icons div.col-6 {
    margin-bottom: 20px;
}

.set-width {
    max-width: 1400px;
    padding: 0 4vw;
}

/* resposition 3d object on smaller screens */
@media screen and (max-width: 1187px){
    #objects {
        position: relative;
        top: 150px;
        transform: scale(0.7);
        width: 150vw;
    }
    .jumbotron {
        flex-wrap: wrap-reverse;
    }
    .set-width {
        padding: 0 2vw;
    }
}
@media screen and (max-width: 1000px){
     #nav-banner {
        background-color: #ffffffd2;
    }
    .project-image.reg {
        flex-direction: column;
    }
    .project-image.rev {
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 800px){
    #objects {
        transform: scale(0.5);
    }
    .icon-label {
        display: none;
    }
}

@media screen and (max-width: 600px){
    #objects {
        display: none;
    }
}