/* color variables */
:root {
    --color-b: #333333;
    --color-w: #ffffff;
    --color-blue: #e1f4f3;
    --color-grey: #706c61;
}
/* nav-bar */
.nav-item {
    margin: 0 2vw;
}
li.nav-item.active {
    font-weight: bold;
    border-bottom: 2px solid #ffffff;
}
.bg-dark {
    background-color: var(--color-b) !important;
    color: var(--color-w) !important;
}
.navbar-dark {
    color: var(--color-w) !important;
}
/* hero image */
#hero-image {
    background-image: url("/assets/images/portfolio_hero_image.jpg") !important;
}
/* icons */
i.fab {
    color: var(--color-grey);
}
.icon-label {
    color: var(--color-grey);
    font-size: 0.8em;
}
/* cards */
.card {
    border: none;
    box-shadow: 2px 2px 10px lightgrey;
}
/* footer */
#footer {
    background-color: var(--color-b);
    padding: 20px 0;
}
#footer i.fab {
    color: var(--color-w);
}
